.scrollContainer {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
  overflow-y: visible;
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollContainer::-webkit-scrollbar {
  height: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 10px;
}

.cardBox {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  scroll-snap-align: start;
  background-color: var(--bs-secondary-bg, #e9ecef);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}


.cardHover {
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  will-change:auto;
}

.cardHover:hover > .cardBox {
  background-color: #f8f9fa!important;
}

.cardHover:hover {
  background-color: #f8f9fa; /* светлый фон Bootstrap */
  color:black;
  transform: translateY(-6px)!important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}


/* Позиционирование Bootstrap-кнопок */
.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0.25rem 0.6rem;
}

.left {
  left: 0.5rem;
}

.right {
  right: 0.5rem;
}
